# Django Settings
DEBUG=True
SECRET_KEY=django-insecure-change-me-in-production
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# PostgreSQL Settings
DB_NAME=currency_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432

# Celery & Redis Settings
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# Monobank API Settings
MONOBANK_API_URL=https://api.monobank.ua/bank/currency